:root {
  --black: #000000;
  --background-primary: #ecf1f8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 16px (root) * 0.625 = 10px = 1rem */
  font-size: 62.5%;
}

html,
body,
#root {
  min-height: 100%;
  background: var(--background-primary);
}

body {
  font: 1.4rem "Roboto", sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased !important;
}

*,
button,
input {
  border: 0;
  background: none;
  color: var(--black);
  transition: color 200ms ease-out;
}

ul {
  list-style: none;
}
