* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jetbrains Mono";
  background: #f1f2f5;
  overflow-x: hidden;
}

.input {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  margin: 20px;
  width: 500px;
  height: 50px;
  font-size: 25px;
  font-family: "Roboto";
  padding: 5px;
}

.graph {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.load-wrapp {
  float: left;
  width: 100px;
  height: 100px;
  margin: 40px 10px 10px 0;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
}

.load-9 .spinner {
  animation: loadingI 2s linear infinite;
}

.load-9 .spinner {
  animation: loadingI 2s linear infinite;
}
.load-9 .bubble-1,
.load-9 .bubble-2 {
  animation: bounce 2s ease-in-out infinite;
}
.load-9 .bubble-2 {
  animation-delay: -1s;
}

.load-wrapp p {
  padding: 0 0 20px;
}
.load-wrapp:last-child {
  margin-right: 0;
}

.bubble-1,
.bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #4b9cdb;
}

.bubble-2 {
  top: auto;
  bottom: 0;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes loadingI {
  100% {
    transform: rotate(360deg);
  }
}
